header {
	background-color: hsl(193, 95%, 98%);
	grid-row-start: 1;
	grid-column-start: span 2;
	display: flex;
	align-items: center;
}

header .header__img {
	width: 100px;
	height: 100px;
}

header .header__text {
	margin: 5px;
	color: #61DAFB;
	font-size: 2rem;
}
