.navbar {
	grid-column-start: 1;
	grid-row-start: 2;
	color: #61DAFB;
	text-transform: uppercase;
	font-weight: bold;
}

.navbar_item {
	padding: 10px;
}

.navbar .navbar_item:last-child {
	padding-top: 20px;
}

.navbar_item a {
	color: #61DAFB;
}

.navbar_item a.active {
	text-decoration: underline;
}
