.app {
	display: grid;
	grid-template-columns: 150px auto;
	grid-template-rows: 100px auto;
}

.navbar {
	grid-column-start: 1;
	grid-row-start: 2;
	color: #61DAFB;
	text-transform: uppercase;
	font-weight: bold;
}

.navbar__item {
	padding: 10px;
}

.navbar .navbar__item:last-child {
	padding-top: 20px;
}

